@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-archivo scroll-smooth bg-white;
  }

  .single-specialities {
    @apply flex flex-col gap-2 justify-center items-center p-5 h-36 transition;
  }
  .single-specialities:hover {
    @apply bg-primary shadow-lg text-white rounded-md;
  }
}

/* react slick customized style */
.slick-slider .slick-track {
  display: flex;
  gap: 30px;
}

.slick-slide {
  overflow: hidden;
}

.hero .slick-slider .slick-track {
  display: flex;
  gap: 0px;
}

/* AboutUs style */
.about-image,
.cloud {
  position: relative;
  overflow: hidden;
}

.about-image:before,
.cloud:before {
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.about-image:hover:before,
.cloud:hover:before {
  -webkit-animation: light 1s;
  animation: light 1s;
}

@-webkit-keyframes light {
  100% {
    left: 125%;
  }
}

@keyframes light {
  100% {
    left: 125%;
  }
}

/* doctors slider */
.doctors .slick-dots li {
  height: 8px;
}
.doctors .slick-dots li button {
  height: 8px;
  width: 20px;
}
.doctors .slick-dots li button:before {
  height: 8px;
  width: 20px;
  content: "";
  background-color: #4575bd;
  border-radius: 10px;
}

.doctors .slick-dots li.slick-active {
  width: 35px;
  transition: all 0.5s;
}
.doctors .slick-dots li.slick-active button {
  width: 35px;
}
.doctors .slick-dots li.slick-active button:before {
  width: 35px;
  transition: all 0.5s;
}
